<h1>Task List</h1>
<ul>
<% @tasks.each do |task| %>
<li>
<strong>Task:</strong> <%= task.title %> <br>
<strong>Details:</strong> <%= task.details %>
<%= link_to 'View Task Details', task_path(task) %>
</li>
<% end %>
</ul>
